<div class="small-dash-card">
  <div class="dash-card-title">
    <span><%= title %></span>
    <div class="dash-card-icon">
      <i class="fa fa-bar-chart"></i>
    </div>
  </div>
  <div class="dash-card-content">
    <div class="primary-content"><%= humanized_money_with_symbol primary_content %></div>
    <div class="secondary-content"><%= secondary_content %></div>
    <div class="aux-content"><%= aux_content %></div>
  </div>
</div>
