/* Parent for fixed navbar */
.navbar-parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 99;
}
#navbar-sections-container {
  background-color: $white;
  border-bottom: 2px solid #eff2fb;
  box-shadow: 0 1px 10px 0 #e5ebf3;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;

  .logo-mvp-pic-name {
    transition: 0.7s;
    height: 50px;
    width: 200px;
    background-color: rgba(0,0,0,0);
    background-image: url('https://res.cloudinary.com/mbentivoglio/image/upload/v1527270384/mvpinvest/logo.png');
    background-size: cover;
  }

  .navbar-section-item {
    padding: 0 2px;
    margin: 0 18px;
  }

  .navbar-section-item-link {
    color: $lightest-gray;
    &:hover {
      color: $orange;
    }
  }

  .section-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-name {
    font-size: 1.2em;
  }
}



