/* Parent for fixed navbar */
.navbar-parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 99;
}
.navbar-sections-container {
  background-color: $white;
  border-bottom: 2px solid #eff2fb;
  box-shadow: 0 1px 10px 0 #e5ebf3;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;

  .logo-mvp-pic-name {
    transition: 0.7s;
    height: 35px;
    width: 200px;
    background-color: rgba(0,0,0,0);
    background-image: url("https://res.cloudinary.com/banfox/image/upload/v1565722339/logo/Logo_banfox_color.png");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .navbar-section-item {
    font-size: 0.8em;
    padding: 0 2px;
    margin: 0 18px;
  }

  .navbar-section-item-link {
    color: $lightest-gray;
    &:hover {
      color: $blue;
    }
    &:active {
      color: $dark-blue;
    }
  }

  .navbar-current-page {
    color: $dark-blue;
    border-bottom: solid 1px $dark-blue;
    &:hover {
      border-bottom: solid 1px $blue;
    }
  }

  .section-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .profile-name {
    font-size: 1.2em;
  }
}

.sign-out-padding {
  padding: 10px;
}
