<div class="wrapper-page-wo-subnavbar">
  <div class="container">
  <div class="text-center">
    <hr>
    <hr>
    <hr>
    <p>Suas notas estão sendo analisadas!</p>
    <p>Dentro de alguns instantes você será capaz de solicitar seu adiantanmento</p>
    <p>Fique tranquilo, vamos redirecioná-lo automaticamente</p>
    <strong id="countdown-clock" data-countdown-time="<%= @countdown_time %>" data-redirection-url="<%= @redirection_url %>" ></strong>
    </div>
  </div>
<div>
