<div class="wrapper-page-wo-subnavbar">
  <p>Suas notas estão sendo analisadas e dentro de pouco tempo você será capaz de solicitar seu adiantanmento</p>
  <p>Por favor não recarregue a sua página você será redirecionado automaticamente</p>
  <p id="countdown-clock" data-countdown-time="<%= @countdown_time %>" ></p>
<div>
