// Define variables for your color scheme

// Base Colors
$red: #F83600;
$orange: #ee7b31;
$lightest-gray: #F7F8FB;
$light-gray: #c3c5c8;
$gray: #7c858c;
$dark-gray: #333d47;
$white: #fff;

// Helpers Colors
$dark-blue: #0e2d41;
$blue: #408fec;
$light-blue: #8ebdf1;
$green: #74c080;
$light-green: #abd7b4;
$yellow: #fa9f47;
$light-yellow: #fbc595;

// Shades
$near-black: #4e535a;
$near-white: #fbfbfd;
