<span class="preheader">Ainda não conseguimos te ajudar</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/mbentivoglio/image/upload/v1551191201/mvpinvest/logo-banfox.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Olá <%= @seller.full_name.split.first %>, </h1>
                  <p>Nós vislumbramos parcerias de longo prazo e por isso sempre oferecemos diversas ferramentas sem custo para nossos clientes e parceiros melhorarem a gestão financeira de suas empresas.</p>
                  <p>Infelizmente não conseguiremos oferecer limites de antecipação para <strong><%= @seller.company_name.mb_chars.titleize %></strong>.</p>
                  <p>Para tornarmos o mercado brasileiro mais confiável e promissor ao longos dos próximos anos, precisamos trabalhar com empresas que tenham suas operações padronizadas e sigam algumas regras de negócios que nos permitam ser ágeis e facilitadores. Portanto, gostaríamos de agradecer novamente o interesse em trabalhar com a Banfox.</p>
                  <p>Esperamos poder contribuir em breve com mais empresas de todos os setores.</p>
                  <p>Bons negócios,
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2018 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Avenida Angélica, 2529 - InovaBra Habitat
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

