<span class="preheader">Bem vindo à Banfox. Abaixo você encontrará algumas informações úteis a respeito da sua conta.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/mbentivoglio/image/upload/v1551191201/mvpinvest/logo-banfox.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Bem vindo à Banfox!</h1>
                  <h3>Olá <%= @seller.full_name.mb_chars.titleize.split.first %>, </h3>
                  <p>Nós estamos felizes que você queira fazer negócios conosco!</p>
                  <p>O cadastro da <%= @seller.company_name.mb_chars.titleize %> já está ativo! Sua empresa já foi pré-aprovada com um limite de <strong>R$ 20.000,00</strong>. Lembrando que esse limite pode ser ainda maior à medida que melhoramos nosso relacionamento. O próximo passo é subir algumas notas que deseja adiantar enquanto nosso time se prepara para te ligar e te conhecer melhor!
                  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center">
                        <!-- Border based button
                   https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <a href="https://www.banfox.com.br/sellers/dashboard" class="button button--blue" target="_blank">Adicionar notas fiscais</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p>Em caso de dúvidas é só responder este e-mail. </p>
                  <p>Obrigado,
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2018 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Avenida Angélica, 2529 - InovaBra Habitat
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
