<span class="preheader">Bem vindo à Banfox. Abaixo você encontrará algumas informações úteis a respeito da sua conta.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/banfox/image/upload/v1565722339/logo/Logo_banfox_color.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Bem vindo à Banfox!</h1>
                  <h3>Olá <%= @seller.full_name.mb_chars.titleize.split.first %>, tudo bem?</h3>
                  <p>
                    A <%= @seller.company_name.mb_chars.titleize %> foi pré-aprovada! Nossa equipe irá finalizar a análise de sua empresa e, caso positivo, você terá acesso a todos os benefícios da plataforma Banfox!
                  </p>
                  <p>
                    O próximo passo é subir suas notas fiscais na plataforma, para você já se acostumar com tudo, enquanto nosso time se perpara para te ligar e ajudar com eventuais dúvidas.
                  </p>
                  <p>
                    Ah, e só pra deixar claro: assim que tivermos a confirmação por parte da nossa equipe, você poderá visualizar seu limite para operações. Este limite poderá ser aumentado, conforme sua pontualidade em efetuar os pagamentos. O histórico é super importante, tanto para conhecermos você melhor, quanto para você conhecer nossa forma de ajudá-lo.
                  </p>
                  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center">
                        <!-- Border based button
                   https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <a href="https://www.banfox.com.br/sellers/dashboard" class="button button--blue" target="_blank">Adicionar notas fiscais</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p>Em caso de dúvidas é só responder este e-mail. </p>
                  <p>Obrigado,
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2018 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Avenida Angélica, 2529 - InovaBra Habitat
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
