.feedback-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5em;
  // justify-content: center;

  .client-form-logo {
    height: 120px;
    width: 120px;
    padding: 10px;
  }

  .client-form-header {
    height: 50px;
    margin-bottom: 10px;
    h2 {
      margin: 0;
      text-align: center;
      color: $dark-blue;
      font-size: 30px;
    }
    // padding-bottom: 10px;
  }

  .client-form {
    min-width: 43em;
    margin-top: 0.5em;
    padding: 2em;
    background-color: #fff;
    color: $dark-blue;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 6px;
    box-shadow: 0 2px 4px 0 #eceffc;
    form {
      margin-top: 15px;
      width: 90%;
    }
    input[type=text], input[type=number], input[type=tel], input[type=email], input[type=password] select {
      width: 100%;
      padding: 12px 20px;
      margin: 4px 0;
      display: inline-block;
      border: none;
      box-shadow: none;
      background-color: #fff;
      border-bottom: 1px solid #CFD7D9;
      box-sizing: border-box;
      &:focus {
        border-bottom: 2px solid $blue;
      }
      abbr[title="required"] {
        display: none;
      }
      label {
        font-size: 22px;
        font-weight: 400;
        display: block;
        -webkit-transition: .333s ease top, .333s ease opacity;
        transition: .333s ease top, .333s ease opacity;
      }
    }
    .question {
        margin-top: 10px;
        #feedbackStar {
            font-size: 35px;
        }
        .question_text {
            font-weight: bold; 
            i {
              color: #5468ff !important;
            }
        }

        .question_field {
          input {
            border: 1px solid #CFD7D9;
          }
        }

        .recommend_banfox_option {
           display: inline-block;
            margin-top: 15px;
            padding: 3px;
            background-color: white;
            width: 106px;
            text-align: center;
            color: #5468ff;
            font-weight: bold;
            border-radius: 3px;
            border: 1px solid #5468ff;
            font-size: 15px; 
        }

        .selectedRecommendation {
            display: inline-block;
            margin: 2px;
            padding: 3px;
            background-color: #5468ff;
            width: 106px;
            text-align: center;
            color: white;
            font-weight: bold;
            border-radius: 3px;
            font-size: 15px;
            border: 1px solid #5468ff;
        }

        .selectedRecommendation {
            display: inline-block;
            margin: 2px;
            padding: 3px;
            background-color: #5468ff;
            width: 106px;
            text-align: center;
            color: white;
            font-weight: bold;
            border-radius: 3px;
            font-size: 15px;
        }
        #recommend_banfox_yes {
            display: none;
        }
        #recommend_banfox_no {
            display: none;
        }
    }
    h4 {
      font-size: 20px;
      opacity: 0.9;
    }
  }
}
