/* Animations */
// Making sure content loads (javascript)
.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

// Re-usable keyframes
@keyframes no-transform {
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes rotate-up {
  100% {
    transform: rotateZ(-4deg);
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(.9);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
// Animation Classes
.animate-pop-in {
  animation: no-transform .5s cubic-bezier(0,.9,.3,1.2) forwards;
  opacity: 0;
  transform: translateY(-4rem) scale(.7);
}
.fade-slide-up {
  animation: no-transform 1s 1s ease-out forwards,
             pulse 2s 4s ease-out infinite;
  opacity: 0;
  transform: translateY(4rem);
}
/* Home Banner */
// Header
#home-header {
  height: 100vh;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
}
#home-header:before {
  animation: no-transform 2s .5s cubic-bezier(0,.5,0,1) forwards;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url('https://res.cloudinary.com/mbentivoglio/image/upload/v1530032402/mvpinvest/imgbanner_1440px_2.png');
  background-size: cover !important;
  opacity: 0;
  transform: translateY(-10rem);
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
#home-header:after {
  animation: rotate-up .5s .5s cubic-bezier(0,.5,0,1) forwards;
  background: #F9FCFF;
  content: "";
  height: 40rem;
  left: -5%;
  position: absolute;
    right: -5%;
    top: 90%;
  transform-origin: 0 0;
  z-index: 0;
}

.banner-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  h1 {
    animation-delay: 0.8s;
    font-size: 4em;
    color: $near-white;
    font-weight: bold;
  }
  h2 {
    animation-delay: 1s;
    margin-top: 30px;
    letter-spacing: 1px;
    color: rgba($near-white, 0.92);
    font-size: 1.8em;
  }
}
.banner-porco {
  animation: no-transform 2.2s 1.2s cubic-bezier(0,.5,0,1) forwards;
  margin-top: 30%;
  height: 550px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url('https://res.cloudinary.com/mbentivoglio/image/upload/v1530216508/mvpinvest/cofresombra.png');
  opacity: 0;
  transform: translateX(50rem);
}

/* Card Porque Antecipar Recebíveis */
.card-banner-why {
  animation-delay: 1.2s;
  margin-top: 30px;
  padding: 10px 50px 25px 50px;
  height: auto;
  max-width: 580px;
  border-radius: 6px;
  overflow: hidden;
  background-color: $near-white;
  box-shadow: 0px 5px 35px -5px #213748;
  h3 {
    font-size: 1.5em;
    color: $orange;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  ul {
    width: 90%;

    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      height: 35px;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: center;
      span, p {
        padding-left: 10px;
        font-size: 1em !important;
        color: $near-black !important;
        margin: 0 !important;
        display: inline-block;
        text-align: left;
      }
    }
  }
}

/* Fixed Login Bar at Bottom */
.card-banner-login {
  z-index: 1;
  position: fixed;
  left: 0px;
  bottom: 0px;
  padding: 10px 20px 20px 20px;
  min-width: 100%;
  height: 100px;
  background-color: $white;
  box-shadow: 1px 1px 1px 1px rgba(89,105,128,.1), 0 3px 20px 0 rgba(89,105,128,.3), 0 1px 2px 0 rgba(0,0,0,.05);
  p {
    font-size: 1em !important;
    font-weight: bold;
    padding-left: 15px;
    color: #213748 !important;
    margin: 0 0 -10px 0 !important;
  }
  label {
    color: #213748;
    font-weight: lighter;
  }
  .display-call {
    display: flex;
    align-items: flex-end;
  }
}

/* Fancy button */
.banner-btn {
  border: none;
  background: none;
  text-decoration: none;
  height: 2.1em;
  padding: 2px 15px 2px 15px;
  position: relative;
  color: $near-white;
  &::before {
    background: rgba(200,200,200,.8);
    border-radius: .25em;
    content: "";
    position: absolute;
      top: .5em;
      right: .1em;
      bottom: -.1em;
      left: .1em;
    z-index: -1;
  }
  &::after {
    background: #9B51E0;
    border-radius: .25em;
    content: "";
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: -1;
  }
  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
  &:hover::before {
    transform: translateY(.1em);
  }
  &:hover::after {
    background: #4D0292;
  }
}
.banner-btn,
.banner-btn:before,
.banner-btn:after {
  transition: all .5s cubic-bezier(0,1,.3,1);
}
.banner-btn-2 {
  float: right;
  width: auto;
  margin: 15px auto;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #9B51E0;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}
