/* How it Works Banner */
// Header
#how-header {
  height: 70vh;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
}
#how-header:before {
  animation: no-transform 2s .5s cubic-bezier(0,.5,0,1) forwards;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url('https://res.cloudinary.com/mbentivoglio/image/upload/v1530565900/imgmenu_1440px_1_lhcdcq.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transform: translateY(-10rem);
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
// banner
.how-banner {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $near-white;
  }
}

// card post banner
.card-banner-how {
  width: 100%;
  background-color: $near-white;
  border: 1px solid #cfd7e6;
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 100px;
  color: #1C2E57;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
// how content
.how-content {
  hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba($orange, 0.75), rgba(0, 0, 0, 0));
  }
}


// title 1
.how-title1 {
  text-align: center;
  color: #1C2E57;
  margin-bottom: 50px;
}
.card-title1-how {
  padding: 50px;
  color: #1C2E57;
  img {
    height: 75px;
  }
  span {
    float: left;
    margin-right: 15px;
  }
  p {
    margin-left: 50px;
  }
}
.img-title1 {
  height: 125px;
  width: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}
