#orange {
  color: $orange;
}
#purple {
  color: #e45a65;
}

.howitworks {
  color: $dark-blue;
  h1 {
    padding: 0;
    margin: 30px 0;
    font-size: 4em;
    font-weight: bold;
  }
  h2 {
    font-size: 50px;
  }
  p {
    font-size: 24px;
    opacity: 0.9;
  }
}
.description-area {
  margin-top: 50px;
  p {
    text-align: justify;
  }
}
.howitworks-img {
  margin: 30px 0;
  img {
    max-width: 100%;
    height: auto;
  }
}
.area1 {
  margin-top: 10px;
  padding-top: 30px;
  height: 250px;
  background-image: linear-gradient(to right, rgba(248,54,0,0.1) 0%, rgba(238,123,49,0.2) 99%);
  border-radius: 140px 350px 200px;
}
.area2 {
  height: 250px;
  border-radius: 200px 140px 350px;
  background-image: linear-gradient(to right, rgba(228,90,101,0.05) 0%, rgba(185,84,135,0.2) 99%);
}
.back-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back1 {
  height: 300px;
  width: 200px;
  background-image: linear-gradient(to right bottom, rgba(248,54,0,0.1) 0%, rgba(238,123,49,0.8) 99%);
  border-radius: 140px 350px 200px;
}
.back2 {
  height: 400px;
  width: 250px;
  border-radius: 200px 140px 350px;
  background-image: linear-gradient(to right top, rgba(228,90,101,0.05) 0%, rgba(185,84,135,0.3) 99%);
}
.back3 {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 80%;
  left: 30%;
  border-radius: 50%;
  background-image: linear-gradient(to right bottom, rgba(124,88,143,0.1) 0%, rgba(70,84,124,0.3) 99%);
}
