span.gray_flag {
  display: block;
  float: left;
  background-color: #969595;
  padding: 2px 4px;
  color: white;
  border-radius: 12px;
  margin: 0px 2px;
}

span.green_flag {
  display: block;
  float: left;
  background-color: #a6f398;
  padding: 2px 4px;
  color: #0e8e14;
  border-radius: 12px;
  margin: 0px 2px;
}

span.yellow_flag {
  display: block;
  float: left;
  background-color: #f1ea0a;
  padding: 2px 4px;
  color: #a59727;
  border-radius: 12px;
  margin: 0px 2px;
}

span.red_flag {
  display: block;
  float: left;
  background-color: #ff0000;
  padding: 2px 4px;
  color: #e6a9a9;
  border-radius: 12px;
  margin: 0px 2px;
}
