.risk-flag {
  float: left;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  margin: 0 0.1em;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

.gray-flag {
  background-color: #969595;
  color: white;
}

.green-flag {

  background-color: #a6f398;
  color: #0e8e14;
}

.yellow-flag {

  background-color: #f1ea0a;
  color: #a59727;
}

.red-flag {

  background-color: #ff0000;
  color: #e6a9a9;
}
