#lp-footer {
  background-color: #333D47;
}

.footer-logo {
  width: 100%;
  border-bottom: 1px solid #fff;
  img {
    height: 80px;
    text-align: left;
  }
}

.footer-info {
  width: 100%;
  padding-top: 20px;
  p {
    color: #fff;
  }
}
