<section class="invoice-table">
  <div class="container">
    <div class="page-header">
      <h1>Seja bem vindo, <span><%= @seller.company_name %></span></h1>
        <p>Faça o upload do arquivo XML da sua nota fiscal</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-file-box">
          <%= simple_form_for @invoice do |f| %>
          <label class="input-file">
            <p id="demo">Selecione o arquivo XML</p>
            <span style="display:none;">
              <%= f.file_field :xml, id: "file", class: "inputfile"%>
            </span>
          </label>
          <%= f.submit 'Continue', class: "btn btn-file-upload"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var input = document.getElementById( 'file' );
  var infoArea = document.getElementById( 'demo' );

  input.addEventListener( 'change', showFileName );

  function showFileName( event ) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'Arquivo selecionado!';
  }
</script>
