<h1>Invoices#new</h1>
<p>Find me in app/views/invoices/new.html.erb</p>

<%= simple_form_for @invoice do |f| %>
  <%= f.label :xml %>
  <%= f.file_field :xml %>
  <%= f.submit 'Continue' %>
<% end %>
