<div class="wrapper-page-w-subnavbar">
  <%= render partial: "shared/tables/table_of_cards_header", locals: {bundle: true } %>
  <%= render partial: "shared/tables/table_of_cards_container", locals: {items: @operations, query_opt: :opened_invoices, bundle: true}%>
</div>
