<div class="wrapper-page-w-subnavbar">
  <%= render partial: "shared/tables/table_of_cards_header", locals: {bundle: false } %>
  <%= render partial: "shared/tables/table_of_cards_container", locals: {items: @invoices, query_opt: "", bundle: false }%>
</div>



