<div class="wrapper-page-w-subnavbar">
  <%= render partial: "shared/tables/table_of_cards_header", locals: {bundle: false } %>
  <%= simple_form_for Order.new do |f| %>
    <input type="hidden" name="order[installment_ids][]">
    <%= render partial: "shared/tables/table_of_cards_container", locals: {items: @invoices, query_opt: "", bundle: false }%>
  <%= f.submit "Enviar para análise", class: "btn-rounded blue" %>
  <% end %>
</div>



