.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

#closed_chat {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
}

#closed_chat .btn {
  background-color: #6686FF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

/* Add styles to the form container */
#chat-container {
  max-width: 500px;
  padding: 10px;
  background-color: white;
}

#chat-container .btn {
  background-color: #6686FF;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

.banfox_chat_div {
  height: 200px;
  width: 100%;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  padding: 10px 0;
  overflow: scroll;
  overflow-x: hidden;
}

.banfox_chat_div .chat_container {
  width: 60%;
  border-radius: 10px;
  padding: 10px;
  color: #000;
  margin: 10px 0;
}

.banfox_chat_div .banfox_side {
  background-color: #6471fc3d;
  float: right;
}

.banfox_chat_div .client_side {
  background-color: #dadada;
  float: left;
}

.banfox_side .timestamp {
  text-align: right;
}

.banfox_side .message {
  text-align: right;
}

.client_side .timestamp {
  text-align: left;
}

.client_side .message {
  text-align: left;
}

.close {
  position: absolute;
  right: 32px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
