<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-6 text-left"><span>Nota</span></div>
    <div class="content-col content-col-10 text-left"><span>Sacado</span></div>
    <div class="content-col content-col-11 text-left"><span>Cliente</span></div>
    <div class="content-col content-col-10 text-left"><span>Parcela</span></div>
    <div class="content-col content-col-10 text-left"><span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center"><span>Dias</span></div>
    <div class="content-col content-col-13 text-right"><span>Valor Bruto</span></div>
    <div class="content-col content-col-13 text-right"><span>Taxa</span></div>
    <div class="content-col content-col-13 text-right"><span>Valor Líquido</span></div>
    <div class="content-col content-col-10 text-right"><span>Ação</span></div>
  </div>
</div>

