.form-body {
  height: 100vh;
  width: auto;
  background-color: #F5F2F0;
}
.client-form-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  h2 {
    color: $near-black;
    font-weight: 700;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }
}
.client-form {
  // height: calc(100vh - 170px);
  padding: 30px 10px;
  margin: 10px 0;
  background-color: #fff;
  color: $near-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  // -webkit-box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 1px 3px 0 rgba(89,105,128,.1), 0 1px 2px 0 rgba(0,0,0,.05);
  // box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 1px 3px 0 rgba(89,105,128,.1), 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 -1px 10px rgba(0,0,0,0.05), 0 1px 4px rgba(0,0,0,0.1), 0 10px 30px #f3ece8;
  img {
    margin: 20px 0;
  }
  h2 {
    font-size: 30px;
  }
}

.progress-bar {
  height: 50px;
  width: 90%;
  margin: 5px 10px;
  background-color: #fff;
  color: $near-black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: none !important;
  .point {
    width: 40px;
    height: 40px;
    border: 2px solid $near-black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bar {
    width: 6rem;
    height: 0.2rem;
    border-radius: 6px;
    background: $near-black;
  }
  .future {
    opacity: 0.6;
  }
  .done {
    color: $orange;
    border: 2px solid $orange;
  }
  .bdone {
    background: $orange;
  }
}
