.btn-blue-transparent {
  float: right;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 0.1em solid $blue;
  border-radius: 0.3em;
  color: $blue;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.8em;
  line-height: 1;
  padding: 0.8em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover,
  &:focus {
    box-shadow: 0 0 40px 40px $blue inset;
    color: #fff;
    outline: 0;
    text-decoration: none;
  }
}

.btn-blue-transparent-clicked {
  box-shadow: 0 0 40px 40px $blue inset;
  color: #fff;
}

.btn-blue-transparent-inactive {
  float: right;
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 0.1em solid $blue;
  border-radius: 0.3em;
  color: $blue;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 0.8em;
  line-height: 1;
  padding: 0.8em 1.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
