<div class="modal fade modal-in-plan-A" id="modal-advance-payment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Pagamento Adiantado
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>
          A Banfox tem um objetivo claro: mudar fundamentalmente a forma como pequenas e médias empresas antecipam seus recebíveis no mercado.
        </p>
        <p>
          Assim, trouxemos a solução “Pagamento Antecipado”.
        </p>
        <p>
          Sabemos que é difícil, mas quando seu cliente pagar antecipado ou caso você queira liquidar o título antecipadamente, nós ajudamos você. A Banfox reconhece seu esforço e desconta o valor referente aos dias pagos antecipadamente. Aqui, você só paga pelo tempo que usa o dinheiro, sem pegadinhas, letras escondidas, nada disso!
        </p>
        <p>
          Para facilitar, você encontrará o valor que será descontado na página de acompanhamento dos títulos no campo “Balanço”. Este valor poderá ser descontado em uma próxima operação ou depositado diretamente em sua conta. Ou seja, você faz o pagamento do valor total e, assim que nosso sistema registra o pagamento, o desconto indicado já fica disponível para uso em outra operação. Caso prefira, basta solicitar por e-mail que também podemos depositar o valor diretamente em sua conta.
        </p>
        <p>
          Se ficou alguma dúvida, não se preocupe! Mande um e-mail para joao@banfox.com.br que entraremos em contato em breve (prometemos que não será um robô, ok?).
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to "Operações em Andamento", opened_installments_path, class: "btn btn-rounded blue" %>
      </div>
    </div>
  </div>
</div>
