<!-- Modal -->
<div class="modal fade" id="modal-show-wo-click">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "http://res.cloudinary.com/dbzg4txla/image/upload/w_600,h_600,c_crop,g_face/v1535573589/joaquim_oliveira_bstvg6.jpg", class: "avatar" %>
        <span class="modal-header-avatar-name">Joaquim da Banfox</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-body-title-icon"><i class="fa fa-hourglass-half" aria-hidden="true"></i></h4>
        <h4 class="modal-body-title-message">Estamos quase lá!</h4>
          <p>Olá <%= seller.full_name.mb_chars.titleize.split.first %>,</p>
          <p>Obrigado por fazer o seu cadastro em nossa plataforma!</p>
          <p>Estamos analisando seus dados e vamos te dar uma posição por e-mail em menos de 2 horas.</p>
          <p>Equipe <strong>Banfox</strong>.</p>
      </div>
      <!-- TODO: put space so that the client can send us a message -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
