<!-- Modal -->
<div class="modal fade" id="modal-show-wo-click">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <%= image_tag "http://res.cloudinary.com/banfox/image/upload/v1571669109/profile/Photo_on_25-07-19_at_14.01.jpg", class: "avatar" %>
        <span class="modal-header-avatar-name">Ricardo da Banfox</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <h4 class="modal-body-title-icon"><i class="fa fa-check-circle"></i></h4>
        <h4 class="modal-body-title-message">Bem vindo à Banfox!</h4>
        <p>Olá <%= seller.full_name.mb_chars.titleize.split.first %>, tudo bem?</p>
        <p>
          A <%= seller.company_name.mb_chars.titleize %> foi pré-aprovada! Nossa equipe irá finalizar a análise de sua empresa e, caso positivo, você terá acesso a todos os benefícios da plataforma Banfox! 
        </p>
        <p>
          O próximo passo é subir suas notas fiscais na plataforma, para você já se acostumar com tudo, enquanto nosso time se prepara para te ligar e ajudar com eventuais dúvidas.
        </p>
        <p>
          Ah, e só pra deixar claro: assim que tivermos a confirmação por parte da nossa equipe, você poderá visualizar seu limite para operações. Este limite poderá ser aumentado, conforme sua pontualidade em efetuar os pagamentos. O histórico é super importante, tanto para conhecermos você melhor, quanto para você conhecer nossa forma de ajudá-lo.
        </p>
        <div class="modal-body-button">
          <%= render(partial: "shared/buttons/btn_rounded_upload_invoice", locals: {button_path: "#", content: "Adicionar notas fiscais"}) %>
        </div>
      </div>
      <!-- TODO: put space so that the client can send us a message -->
      <!-- <div class="modal-footer">
      </div> -->
    </div>
  </div>
</div>
