<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-4 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Número/parcela do título" class="have-info">
        # <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-20 text-left"> <span>Cliente</span></div>
    <div class="content-col content-col-7 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Data da operação" class="have-info">
        Data <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left"> <span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center">
      <span data-toggle="tooltip" title="" data-original-title="Número de dias até o vencimento, dias em atraso em vermelho" class="have-info">
        Dias <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right"> <span>Valor total</span></div>
    <div class="content-col content-col-10 text-right">
      <span>
        Taxa
      </span>
    </div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Os valores em vermelho representam o valor líquido atualizado descontando o atraso. Valor líquido - [atraso]" class="have-info">
        Valor Depositado <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Os valores representam o Saldo Banfox atualizado, já considerando o atraso caso tenha ocorrido. Esse valor será considerado na sua próxima operação" class="have-info">
        Saldo Banfox <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left extra-space-left">  <span>Status</span></div>
  </div>
</div>
