<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-4 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Número/parcela do título" class="have-info">
        # <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-20 text-left"> <span>Cliente</span></div>
    <div class="content-col content-col-7 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Data da operação" class="have-info">
        Data <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left"> <span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center">
      <span data-toggle="tooltip" title="" data-original-title="Número de dias até o vencimento, dias em atraso em vermelho" class="have-info">
        Dias <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right"> <span>Valor da nota</span></div>
    <div class="content-col content-col-10 text-right">
      <span>
        Comissão
      </span>
    </div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Valores em vermelho representam títulos atrasados" class="have-info">
        Valor de depósito <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Valor a ser considerado em caso de pagamento adiantado ou atraso" class="have-info">
        Diferença <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left extra-space-left"><span>Status</span></div>
  </div>
</div>
