.main-box-title {
  font-weight: 800;
}

.blue-stripe {
  border-top: #4DCEFC solid 5px;
  margin-bottom: 20px;
  width: 140px;
}

.how_a1_works_card_head {
  color: #525974;
  font-weight: 700;
  font-size: 1.1rem;
}

.how_a1_works_card_body p{
  padding: 0 75px;
  color: #9899A1;
  font-size: 1.1rem;
}

.file_upload_card_body p{
  color: #9899A1;
  font-size: 1.1rem;
}
