.devise-header {
  color: black;
  font-weight: bolder;
  margin-bottom: 60px;
}

.devise-header-strong {
  color: #6DC38E !important;
}

.devise-header-blue {
  color: #5AA0FC !important;
}

.devise-greeting {
  font-weight: 800;
  margin-bottom: 40px;
}

.devise-form {
  .form-control-label {
    font-weight: 700;
  }
}
