<div class="container">
  <div class="table-of-cards header">
    <div class="t-r-wrapper">
      <% if bundle %>
        <div class="t-r-bundle header">
        </div>
      <% end %>
      <div class="t-r-content">
        <div class="t-item">
          <div class="item-card header">
            <div class="item-card-content">
              <span>Cliente</span>
            </div>
          </div>
          <div class="item-details header">
            <div class="detail-card">
              <div class="detail-col-15 text-left"><span>Parcela</span></div>
              <div class="detail-col-15 text-left"><span>Vencimento</span></div>
              <div class="detail-col-5  text-center"><span>Dias</span></div>
              <div class="detail-col-18 text-right"><span>Valor Bruto</span></div>
              <div class="detail-col-18 text-right"><span>Taxa</span></div>
              <div class="detail-col-18 text-right"><span>Valor Líquido</span></div>
              <div class="detail-col-10 text-center"><span> </span></div>
              <div class="detail-col-1  text-center"><span> </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







