<div class="wrapper-page-w-subnavbar">
  <%= render partial: "shared/tables/table_wo_bundle/header" %>
  <%= render partial: "shared/tables/table_wo_bundle/container", locals: {items: @installments}%>
</div>

