<div class="wrapper-page-w-subnavbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "shared/headers/header_section_w_opt_btn", locals: {
          title: "Títulos",
          optional_button: "",
        } %>
        <div class="row">
          <div class="col-xs-12">
            <%= render partial: "shared/tables/table_wo_bundle_for_opened_history_installments/header" %>
            <%= render partial: "shared/tables/table_wo_bundle_for_opened_history_installments/container", locals: {items: @installments}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
