<div class="wrapper-page-w-subnavbar">
  <%= render partial: "shared/tables/table_wo_bundle/header" %>
  <%= simple_form_for Operation.new do |f| %>
    <input type="hidden" name="operation[installment_ids][]">
    <%= render partial: "shared/tables/table_wo_bundle/container", locals: {items: @installments}%>
  <%= f.submit "Enviar para análise", class: "btn-rounded blue" %>
  <% end %>
</div>
