.table-wo-bundle-row-content {
  display: flex;
  // background-color: $white;
  color: $medium-blue;
  font-size: 1.3rem;

  .content-col {
    padding: 0.3em;
  }

  @for $i from 1 through 100 {
    .content-col-#{$i} {
      flex: 1 1 (100 * $i * 1%);
    }
  }

  .extra-space-left {
    padding-left: 1.5em;
  }

  .red {
    color: $red;
  }

  .tooltip-inner {
    font-size: 1.3rem;
  }

  .form-group {
    margin: 0px !important;

    .form-control {
      font-size: 1.3rem;
      display: inline;
      width: auto;
      height: auto;
    }
  }

  .table-row-button {
    font-size: 1.3rem;
    padding: 0px;
    border: none;
    color: $blue;
    opacity: 0.85;

     &:hover {
       opacity: 1;
     }
  }
}
