.table-wo-bundle-row-content-status-tag {
  font-size: 1.2rem;
  font-style: italic;
}

.table-wo-bundle-row-content-color-go {
  color: $green;
}

.table-wo-bundle-row-content-color-attention {
  color: $yellow;
}

.table-wo-bundle-row-content-color-danger {
  color: $red;
}

.table-wo-bundle-row-content-color-good {
  color: $gray;
}

.table-wo-bundle-row-content-color-lost {
  color: $gray;
}
