<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-9 text-left">                   <span>Número</span></div>
    <div class="content-col content-col-13 text-left">                  <span>Cliente</span></div>
    <div class="content-col content-col-7 text-left">                  <span>Data da operação</span></div>
    <div class="content-col content-col-7 text-left">                  <span>Vencimento</span></div>
    <div class="content-col content-col-5  text-center">                <span>Dias até vencimento</span></div>
    <div class="content-col content-col-5  text-center">                <span>Dias de atraso</span></div>
    <div class="content-col content-col-9 text-right">                 <span>Valor bruto</span></div>
    <div class="content-col content-col-9 text-right">                 <span>Taxa</span></div>
    <div class="content-col content-col-9 text-right">                 <span>Valor líquido</span></div>
    <div class="content-col content-col-9 text-right">                 <span>Primeiro depósito</span></div>
    <div class="content-col content-col-11 text-right">                 <span>Proteção</span></div>
    <div class="content-col content-col-7 text-left extra-space-left">  <span>Status</span></div>
  </div>
</div>

