<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-9 text-left">                   <span>Número</span></div>
    <div class="content-col content-col-13 text-left">                  <span>Cliente</span></div>
    <div class="content-col content-col-7 text-left">                  <span>Data</span></div>
    <div class="content-col content-col-7 text-left">                  <span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center">                <span>Dias</span></div>
    <div class="content-col content-col-10 text-right">                 <span>Valor total</span></div>
    <div class="content-col content-col-9 text-right">                 <span>Taxa</span></div>
    <div class="content-col content-col-10 text-right">                 <span>Valor líquido</span></div>
    <div class="content-col content-col-10 text-right">                 <span>1º depósito</span></div>
    <div class="content-col content-col-10 text-right">                 <span>Proteção</span></div>
    <div class="content-col content-col-4 text-left">                 <span></span></div>
    <div class="content-col content-col-7 text-left extra-space-left">  <span>Status</span></div>
  </div>
</div>

