<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-4 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Número/parcela do título" class="have-info">
        # <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-20 text-left">                  <span>Cliente</span></div>
    <div class="content-col content-col-7 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Data da operação" class="have-info">
        Data <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left">                  <span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center">
      <span data-toggle="tooltip" title="" data-original-title="Número de dias até o vencimento, dias em atraso em vermelho" class="have-info">
        Dias <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right">                 <span>Valor total</span></div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title=" Os valores em vermelho representam a taxa atualizada considerando o atraso. Taxa + [atraso]" class="have-info">
        Taxa <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Os valores em vermelho representam o valor líquido atualizado descontando o atraso. Valor líquido - [atraso]" class="have-info">
        Valor líquido <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-10 text-right">                 <span>1º depósito</span></div>
    <div class="content-col content-col-10 text-right">
      <span data-toggle="tooltip" title="" data-original-title="Os valores em vermelho representam a proteção atualizada descontando o atraso. Proteção - [atraso]" class="have-info">
        Proteção <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-7 text-left extra-space-left">  <span>Status</span></div>
  </div>
</div>
