<div class="container">
  <div class="row">
    <div class="menu-options">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to new_document_path do %>
        <div class="card-menu">
          <i class="fa fa-file" id="icon-blue"></i>
          <p>Atualizar documentos</p>
          <span><%= @seller.documents_uploaded %> / <%= @seller.total_documents %> </span>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
