<label class="input-file">
  <p> <%= description %> </p>
  <!-- We have this condition to make this partial work with invoices and with documents -->
  <% unless upload.is_a? Symbol %>
    <% if upload.attached?  %>
      <i class="fa fa-check"></i>
    <% end %>
    <% upload = upload.name.to_sym %>
  <% end %>
  <ul class="input-file-status"></ul>
  <span style="display:none;">
    <%= f.file_field upload, multiple: true, class: "input-file-field" %>
  </span>
</label>


