<div class="flashes-wrapper">
  <% flash.each do |type, messages| %>
    <% if messages.instance_of?(String) %>
      <%= render partial: "shared/flash", locals: {type: type, message: messages} %>
    <% else %>
      <% messages.each do |message| %>
        <%= render partial: "shared/flash", locals: {type: type, message: message} %>
      <% end %>
    <% end %>
  <% end %>
</div>
