<div class="footer">
  <div class="footer-copyright">
    <p>Copyright &copy; 2018 MVP Invest todos os direitos reservados.</p>
  </div>
  <div class="footer-quote">
    <p>"I think it is possible for ordinary people <br>to choose to be <span>extraordinary</span>." - Elon Musk</p>
  </div>
  <div class="footer-graph">
    <%= image_tag "graph.png" %>
  </div>
</div>
