<div class="footer">
  <div class="footer-copyright">
    <p>Copyright &copy; 2018 MVP Invest todos os direitos reservados.</p>
  </div>
  <div class="footer-quote">
    <p>"I think it is possible for ordinary people <br>to choose to be <span>extraordinary</span>." - Elon Musk</p>
  </div>
  <div class="footer-copyright mvp-name">
    <p>MVP Fomento Mercantil Ltda. <br>
      Tel: +55 11 3142 8888 <br>
      Alameda Santos, 1787 <br>
      11 Andar, Cerqueira Cesar
    </p>
  </div>
</div>
