<footer id="footer">
  <section class="footer">
    <div class="container">
      <div class="row">
          <div class="col-12 col-sm-2">
            <div class="column column1">
              <span><%= image_tag "porco.png" %></span>
              <div class="links-footer">
                <%#= <a href=""><i class="fa fa-facebook f-link"></i></a> %>
                <a href="https://www.linkedin.com/company/banfox"><i class="fa fa-linkedin f-link"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-7">
            <div class="column footer-content">
              <h4>Contato</h4>
              <p>
                <span><i class="fa fa-phone-square" aria-hidden="true"></i> (011) 9.3800.8131 </span><br>
                <i class="fa fa-envelope" aria-hidden="true"></i> marcelo@banfox.com.br
                <br><br>
                Avenida Angélica, 2529 <br>
                Bela Vista, CEP.: 01227-200 São Paulo - SP
              </p>
            </div>
          </div>
          <div class="col-12 col-sm-3">
            <div class="column footer-content">
              <h4>Privacidade</h4>
              <a href="#">Termos de uso</a>
              <br>
              <a href="#">Política de privacidade</a>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="copyright">
            <p>Copyright &copy; 2019 Banfox todos os direitos reservados.</p>
            <span><%= image_tag "seal.gif" %></span>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>




<!-- <div class="footer">
  <div class="footer-copyright">
    <p>Copyright &copy; 2018 Banfox todos os direitos reservados.</p>
  </div>
  <div class="footer-quote">
    <p>"I think it is possible for ordinary people <br>to choose to be <span>extraordinary</span>." - Elon Musk</p>
  </div>
  <div class="footer-copyright mvp-name">
    <p>MVP Fomento Mercantil Ltda. <br>
      Tel: +55 11 3142 8888 <br>
      Alameda Santos, 1787 <br>
      11 Andar, Cerqueira Cesar
    </p>
  </div>
</div> -->
