<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="page-header">
        <div class="page-header-title"> <%= title %> <span><%= company_name.mb_chars.titleize %></span></div>
        <div class="page-header-subtitle"><%= sub_title %></div>
      </div>
    </div>
  </div>
</div>
