<div class="container">
  <div class="row">
    <div class="menu-options">

      <%= render partial: "shared/menu_card", locals: { itempath: store_invoices_path, icon: "fa fa-usd", icon_color: "icon-green" , title: "Títulos a venda", sub_title: nil, active_menu: (true if menu_in == :store)  } %>

      <%= render partial: "shared/menu_card", locals: { itempath: opened_invoices_path, icon: "fa fa-calendar", icon_color: "icon-purple" , title: "Títulos em andamento", sub_title: nil, active_menu: (true if menu_in == :opened)  } %>

      <%= render partial: "shared/menu_card", locals: { itempath: history_invoices_path, icon: "fa fa-history", icon_color: "icon-blue" , title: "Títulos finalizados", sub_title: nil, active_menu: (true if menu_in == :history)  } %>

      <%= render partial: "shared/menu_card", locals: { itempath: new_invoice_path, icon: "fa fa-file-excel-o", icon_color: "icon-orange" , title: "Upload de títulos", sub_title: nil, active_menu: (true if menu_in == :new)  } %>

      </div>
    </div>
  </div>
</div>
