<!-- Modal -->
<div class="modal fade" id="contact_us_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Entre em contato com a MVP Invest</h4>
      </div>
      <div class="modal-body">
        <p>Olá, você pode entrar em contato conosco mandando um e-mail para <strong>marcelo.bentivoglio@mvpinvest.com.br</strong> ou ligando para <strong> +55 11 9 8689-8969 </strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-submit-form" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
