<div class="mvp-progressbar">
  <div id="mvp-progressbar-fill-wrapper">
    <div id="mvp-progressbar-fill" data-value="<%= ((used / limit)*100).round %>">
    </div>
  </div>
  <div class="mvp-progressbar-content">
    <div class="mvp-progressbar-content-left">
      <span>Utilizado</span>
      <span><%= humanized_money_with_symbol(used) %></span>
    </div>
    <div class="mvp-progressbar-content-right">
      <span>Restante</span>
      <span><%= humanized_money_with_symbol(limit - used) %></span>
    </div>
  </div>
</div>

