<div class="small-card">
  <div class="card-title">
    <span>Limite</span>
    <div class="card-icon">
      <i class="fa fa-bar-chart"></i>
    </div>
  </div>
  <div class="graph-card-content">
    <div id="mvp-progressbar" data-value="50">
    </div>
  </div>
</div>

