<div class="small-card">
  <div class="card-title">
    <span>Títulos a vencer</span>
    <div class="card-icon">
      <i class="fa fa-bar-chart"></i>
    </div>
  </div>
  <div class="info-card-content">
    <div class="primary-content">R$300.000</div>
    <div class="secondary-content">2</div>
    <div class="aux-content">hoje</div>
  </div>
</div>
