<div class="small-dash-card">
  <div class="dash-card-title">
    <span>Limite</span>
    <div class="dash-card-icon">
      <i class="fa fa-bar-chart"></i>
    </div>
  </div>
  <div class="dash-card-content">
    <div id="mvp-progressbar-wrapper">
      <div id="mvp-progressbar" data-value="50">
      </div>
    </div>
  </div>
</div>

