<div id="status_bottom_bar" class="cointainer-fluid">
  <div class="operation-finantials">
    <span>Valor Bruto</span>
    <span>Taxa MVP</span>
    <span>Proteção (10%)</span>
    <span>Valor Líquido</span>
  </div>
  <div class="operation-status">
    <span>Parabens sua operação foi aprovada</span>
    <span>Cancelar</span>
    <%= f.submit "Enviar para análise", class: "btn-rounded blue" %>
  </div>

</div>

