<div class="t-row">
  <div class="t-col-1"><span><%= item.number %></span></div>
  <div class="t-col-2"><span><%= item.due_date.strftime("%d/%m/%Y") %></span></div>
  <div class="t-col-4"><span><%= humanized_money item.value %></span></div>
  <div class="t-col-5"><span><%= item.status %></span></div>
</div>

