<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="client-form">
        <%= image_tag "mvpig.png", height: 100 %>
        <h2>Estamos a Poucos passos de criar a sua conta</h2>
        <%= simple_form_for @client do |f| %>
        <%= f.input :full_name, placeholder: "Qual seu nome?" %>
        <%= f.submit "Cadastrar" %>
        <% end %>

      </div>
    </div>
  </div>
</div>
