<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
        <h1> Editar conta corrente </h1>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
