<%= link_to button_path do %>
  <div class="btn-rounded blue" data-toggle="modal" data-target="#modal-file-upload">
    <i class="fa fa-cloud-upload"></i>
    <span><%= content %></span>
  </div>
<% end %>
