.card-white-w-multiple-content-clickable {
  box-shadow: 0 0 20px 0 rgba(207,219,232,.3);
  color: $medium-blue;
  &:hover {
    text-decoration: none;
    transition: 0.7s;
    box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 3px 20px 0 rgba(89,105,128,.3), 0 1px 2px 0 rgba(0,0,0,.05);
  }
}

.card-white-w-multiple-content.card-h-small {
  min-height: 40px;
}

.card-white-w-multiple-content.card-h-medium {
  min-height: 100px;
}

.card-white-w-multiple-content {
  background: $white;
  box-shadow: 0 1px 3px rgba(240, 240, 240, 1);
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  font-weight: 400;
  color: $medium-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;


  .card-title {
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card-icon-gray {
      color: $medium-blue;
      opacity: 0.4;
    }
    .card-icon-blue {
      color: $blue;
    }
    .card-checked-icon {
      color: $dark-green-progressbar;
    }
  }
  .card-content {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    line-height: normal;
    .primary-content {
      font-size: 1.6em;
    }
    .secondary-content {
      font-size: 1.2em;
      color: $medium-blue;
      opacity: 0.4;
    }
    .aux-content {
      font-size: 0.8em;
    }
    .unique-content {
      font-size: 0.8em;
    }
  }
}
