.card-w-table-inside {
  padding: 0.5em;
  margin-top: 1em;
  box-shadow: 0 1px 3px #f0f0f0;
  background-color: $white;
  border-radius: 0.5em;

  .card-w-table-inside-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card-w-table-inside-summary {
    color: $medium-blue;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;

    .summary-column {
      display: flex;
      flex-direction: column;
    }

    .summary-w-padding-left {
      padding-left: 1em;
    }

    .extended-column {
      display: flex;

      .file-link {
        padding-right: 1em;
      }
    }
  }

}
