<div class="call-to-action">
  <div class="container cta-padding-footer">
    <div class="text-border"></div>
    <div class="row">
      <div class="col-12 col-md-9">
        <h1>O melhor produto, somente para os melhores clientes.</h1>
      </div>
      <div class="col-12 col-md-3 cta-button">
        <%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn btn-lg btn-hero-banfox" %>
      </div>
    </div>
  </div>
</div>

<div class="cta-transition-footer"></div>
<section id="lp-footer">
  <div class="container">
    <div class="row">
      <div class="footer-logo">
        <%= image_tag "/assets/logo-banfox-white.png" %>
      </div>
    </div>
    <div class="footer-info">
      <div class="row">
        <div class="col-12 col-md-6 left-info">
          <p>2019 @ Todos os direitos reservados.</p>
        </div>
        <div class="col-12 col-md-6 right-info">
          <p>Nós respeitamos a sua Privacidade.</p>
        </div>
      </div>
    </div>
  </div>
</section>
