<section id="lp-footer">
  <div class="container">
    <div class="row">
      <div class="footer-logo">
        <%= image_tag "/assets/logo-banfox-white.png" %>
      </div>
      <div class="footer-info row">
        <div class="col-12 col-md-6">
          <p>2019 @ Todos os direitos reservados.</p>
        </div>
        <div class="col-12 col-md-6">
          <p>Nós respeitamos a sua Privacidade.</p>
        </div>
      </div>
    </div>
  </div>
</section>
