<section id="our-mission">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="how-title1">
          <h4>NOSSA MISSÃO</h4>
        </div>
      </div>
      <div class="col-12">
        <div class="how-title2">
          <h2>A Banfox está transformando fundamentalmente a maneira de antecipar recebíveis no Brasil.</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card-data-ourmission" >
        <h4>O Brasil precisa de um produto justo.</h4>
        <p>
          Em operações de crédito é comum aparecer cobranças inesperadas e quando questionamos o porque daqueles valores, a que recebemos é "Está previsto em contrato." Aprática de letra pequenas e escondidas acontece o tempo todo, e nós brasileiros é quem pagamos a conta no final do dia. Por isso, indignados pelo mal atendimento, decidimos revolucionar o mercado brasileiro com o melhor produto, livre de tarifas, cobranças extras ou penalidades abusivas.
        </p>
      </div>
      <div class="col-12 col-md-6 card-data-ourmission card-left" >
        <h4>Quem Somos? Somos Inconformados.</h4>
        <p>
          Inconformados com a maneira que instituições financeiras tradicionais cobram seus clientes e abusam do taxas e tarifas . Somos um time de profissionais de excelência determinados em lhe atender com o melhor produto. Sempre.
        </p>
        <a href="#">EU QUERO!</a>
      </div>
      <div class="col-12 col-md-6 card-data-ourmission right-card" >
        <h4>Faça parte dessa história junto com a gente</h4>
        <p>
          Estamos sempre em busca de pessoas engajadas com vontade de aprender e crescer junto conosco. Queremos revolucionar o mercado no Brasil e pra isso precisamos de pessoas revolucionárias. Vem conhecer nossa missão e tomar um café com a gente.
        </p>
        <a href="#">EU QUERO!</a>
      </div>
    </div>
  </div>
</section>
