<header id="how-header">
  <section class="how-it-works">
    <div class="container-fluid">
      <div class="how-banner">
        <h1>Sobre a Banfox</h1>
      </div>
    </div>
  </section>
</header>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="about-us-building">

        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="about-us-text">
          <h2>Banfox<span class="brand-dot">.</span></h2>
          <p>
            São Paulo, Setembro de 2015.
            <br><br>
            Porque apenas as grandes empresas com muitos anos de história
            têm acesso aos melhores produtos financeiros?
            <br><br>
            Essa foi a motivação para a fundação da Banfox,
            inovar e oferecer produtos de excelência para todos os clientes.
            Durante muitas reuniões e conversas, os sócios fundadores
            conceitualizaram uma nova forma de antecipar recebíveis,
            com menos burocracia, mais agilidade e transparência.
            <br><br>
            A Banfox é a maneira mais rápida, simples e confiável
            de antecipar recebíveis e acelerar o crescimento do seu negócio.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us-cards">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="about-us-card">
          <span id="coffee"><i class="fa fa-coffee"></i></span>
          <h4>12,359</h4>
          <p>Cafés tomados</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="about-us-card">
          <span id="money"><i class="fa fa-money"></i></span>
          <h4>+12 milhões</h4>
          <p>Em títulos antecipados</p>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="about-us-card">
          <span id="flag"><i class="fa fa-flag"></i></span>
          <h4>+342</h4>
          <p>Análises de Crédito</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us-page-break">
  <div class="container">
    <div class="our-team-page-break">
      <h2>Conheça nosso time<span class="brand-dot">.</span></h2>
    </div>
  </div>
</section>

<section class="our-team">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-team-member">
          <div class="member-image marcelo"></div>
          <h4>Marcelo Bentivoglio</h4>
          <div class="member-info">
            <span></span>
            <p>Founder & CEO</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-team-member">
          <div class="member-image joao"></div>
          <h4>João Vicente Conte</h4>
          <div class="member-info">
            <span></span>
            <p>Founder, CLO/COO</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4">
        <div class="card-team-member">
          <div class="member-image joaquim"></div>
          <h4>Joaquim de Oliveira</h4>
          <div class="member-info">
            <span></span>
            <p>CTO</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
