<div class="wrapper-page-wo-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-12" style="margin-top: 100px;">
        <center><h2>Ok, atualizaremos as informações aqui.</h2></center>
        <center><h2>Lembre-se que quanto antes as pendências forem pagas melhores os valores :D</h2></center>
      </div>
    </div>
  </div>
</div>
