<div class="container">
  <div class="how-it-works">
    <div class="row">
      <div class="col-xs-12">
        <h1>Veja como a <br>MVP Invest funciona:</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Simples</h2>
          <p>Nosso cadastro demora apenas 2 minutinhos.</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "info.png", class: "how-images" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "xml.png", class: "how-images" %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Fácil</h2>
          <p>É só upload o arquivo XML da sua nota fiscal.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="how-content">
          <h2>Rápido</h2>
          <p>Pronto, agora é só Crescer mais rápido!</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="how-box-image">
          <%= image_tag "dinheiro.png", class: "how-images" %>
        </div>
      </div>
    </div>
  </div>
</div>
