<header id="how-header">
  <section class="how-it-works">
    <div class="container-fluid">
      <div class="how-banner">
        <h1>Transforme suas notas fiscais em fluxo de caixa.</h1>
      </div>
    </div>
  </section>
</header>
<section class="how-content">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="card-banner-how">
          <div class="info1">
            <p>Limites operacionais de</p>
            <h4>R$100mil - R$5milhões</h4>
          </div>
          <div class="info1">
            <p>Taxas a partir de</p>
            <h4>0.99% por semana</h4>
          </div>
          <div class="info1">
            <p>Aprovação de operação</p>
            <h4>2 horas</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="how-title1">
          <h2>Capital de giro de forma flexível</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-title1-how">
          <div class="img-title1">
            <span><%= image_tag "iconenf.png" %></span>
          </div>
          <h4>Flexibilidade 100%</h4>
          <p>Você decide quando e quanto precisa, sem contrato de longo prazo, sem financiamentos.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-title1-how">
          <div class="img-title1">
            <span><%= image_tag "iconepena.png" %></span>
          </div>
          <h4>Liberdade para crescer</h4>
          <p>Antecipe recebíveis, compre matéria prima a vista com desconto, cresça mais rápido.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="card-title1-how">
          <div class="img-title1">
            <span><%= image_tag "iconeperson.png" %></span>
          </div>
          <h4>Atendimento individualizado</h4>
          <p>Consiga uma linha de antecipação baseada na qualidade dos seus clientes.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="card-title1-how">
          <div class="img-title1">
            <span><%= image_tag "iconelupa.png" %></span>
          </div>
          <h4>Taxas transparentes</h4>
          <p>Não se surpreenda no final com taxas e custos extras escondidos, nossa taxa é transparente e individualizada.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <div class="how-title1">
          <h2>Como antecipar com a MVP Invest?</h2>
        </div>
      </div>
    </div>
  </div>
</section>
