<header id="how-header">
  <section class="how-it-works">
    <div class="container-fluid">
      <div class="how-banner">
        <h1>Antecipe recebíveis de maneira inteligente</h1>
      </div>
    </div>
  </section>
</header>
<section class="solution">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="solution-image image-1">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="solution-text">
          <p>
            <span>Vendedores</span> que desejam acelerar o recebimento de notas fiscais.
            <br><br>
            <span>O problema que enfrentam </span><br>
            Os vendedores possuem diferentes tipos de negociação com seus clientes.
            O objetivo é vender seus produtos no melhor e no melhor prazo,
            mas nem sempre é possível. Algumas vezes é necessário abrir mão do preço
            ou do prazo, e, ambas as opções se não realizadas com estratégia podem
            prejudicar o fluxo de caixa da empresa. Aquele 1 mês que usou o cheque
            especial da conta bancária, pagou 14% (ou mais) de juros. Absurdo!
            <br><br>
            <span>Nossa solução</span> <br>
            Antecipar suas notas fiscais sim, porém com segurança, transparência e
            facilidades. Através da nossa plataforma o vendedor pode analisar qual o
            melhor dia para antecipar um recebível, economizando no tempo e na taxa.
            <br><br>
            <span>Chega de multas e juros exorbitantes!</span> <br>
            Nossa solução oferece 80% do valor da nota fiscal. O vendedor recebe o
            dinheiro em sua conta corrente em até 2 horas (uffa! já pode cancelar o
            cheque especial). O restante do valor da nota fiscal cai na conta no mesmo
            momento em que nós recebermos do pagador, ou seja, mesmo que o pagador
            atrase alguns dias, o vendedor está livre de multas e juros exorbitantes!
          </p>
        </div>
      </div>
    </div>
    <div class="row inverted-row">
      <div class="col-xs-12 col-md-6">
        <div class="solution-text">
          <p>
            <span>Pagadores</span> são aqueles que pagam efetivamente a nota
            fiscal emitida pelo vendedor.
            <br><br>

            <span>O problema que enfrentam</span> <br>
            São muitas empresas tradicionais de Factoring que ficam ligando
            e incomodando o dia a dia operacional do seu contas a pagar.
            Muitas delas inclusivem usam a política de "não pagamos empresas
            de factoring".
            <br><br>

            <span>Nossa solução</span> <br>
            Confirmação da nota fiscal, emissão de boletos e liquidação
            de títulos tudo em apenas um clique. Eliminamos burocracia,
            consolidamos a informação e facilitamos a vida do contas a pagar.
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="solution-image image-2">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="solution-image image-3">
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="solution-text">
          <p>
            <span>Investidores</span> são aqueles que estão buscando retornos
            acima do mercado e diversificação de portfólio.
            <br><br>
            <span>O problema que enfrentam</span> <br>
            Os investidores prezam pelos melhores títulos dos melhores vendedores
            e dos melhores pagadores. Estabelecer uma relação de longo prazo é um
            grande desafio quando não se têm histórico de crédito, por isso, para
            realizar uma antecipação de um recebível, precisam confiar solenemente
            nos vendedores.
            <br><br>
            <span>Nossa solução</span> <br>
            Através da nossa plataforma e de capital humano, nós aperfeiçoamos um
            modelo de análise de crédito baseado em informações públicas e privadas
            fornecidas pelos próprios vendedores. Fomos além, nós realizamos
            operações com capital próprio junto com os investidores, colocamos o
            nosso próprio dinheiro no risco, mostrando o forte alinhamento de
            interesses. Nosso modelo de crédito é reanalisado constantemente,
            assim como nossos vendedores têm perfis de crédito flutuantes,
            que se ajustam a cada operação finalizada, seja bem ou mal sucedida.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/footer' %>
