<section id="unfortune-wrapper">
  <div id="modal-show-wo-click-present">
    <%= render partial: "shared/modals/modal_rejection_of_lead", locals: {seller: @seller, user: @user} %>
  </div>
</section>
<%= render 'shared/footer' %>
