<label class="input-file">
<p id="demo"><%= description %></p>
<% if upload.attached?  %>
  <i class="fa fa-check"></i>
<% end %>
<span style="display:none;">
  <%= f.file_field(upload.name.to_sym, multiple: true, class: "inputfile") %>
</span>
</label>
