<%= render partial: "shared/header", locals: {
  title: "Documentos",
  sub_title: "Mantenha seus documentos guardados conosco e sempre atualizados",
  company_name: "",
} %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <% @uploads.each do |description, upload| %>
        <% if upload.attached? %>
          <h3><%= description %></h3>
          <% upload.attachments.each do |upload| %>
            <%= render partial: "document_preview", locals: {upload: upload} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
