<section class="invoice-table">
  <div class="container">
    <div class="page-header">
      <h1><span><%= @seller.company_name %></span>, que tal deixarmos seu cadastro atualizado?</h1>
        <p>Faça o upload dos arquivos solicitados</p>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="input-file-box">
          <%= simple_form_for @seller, url: documents_path, method: :post do |f| %>
            <% @uploads.each do |name, upload| %>
              <%= render partial: "input_document", locals: {f: f, name: name, upload: upload} %>
            <% end %>
          <%= f.submit 'Continue', class: "btn btn-file-upload"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  var input = document.getElementById( 'file' );
  var infoArea = document.getElementById( 'demo' );

  input.addEventListener( 'change', showFileName );

  function showFileName( event ) {
    var input = event.srcElement;
    var fileName = input.files[0].name;
    infoArea.textContent = 'Arquivo selecionado!';
  }
</script>

