<%= render partial: "shared/header", locals: {
  title: "Upload de documentos",
  sub_title: "É permitido arquivos em qualquer formato",
  company_name: "",
} %>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-file-box">
        <%= simple_form_for @seller, url: documents_path, method: :post do |f| %>
          <% @uploads.each do |description, upload| %>
            <%= render partial: "shared/files_input", locals: {f: f, description: description, upload: upload} %>
          <% end %>
        <%= f.submit 'Subir arquivos', class: "btn btn-orange-transparent"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


