<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Banfox - Adiantando o seu crescimento</title>
<meta name="description" content="Munimos o empreendedor brasileiro de informação e recursos financeiros para lançar o seu negócio, acelerar seu crescimento e/ou se recuperar de uma crise.">
<meta property="og:image" content="https://res.cloudinary.com/banfox/image/upload/v1565722339/logo/Logo_banfox_color.png">
<meta property="og:description" content="Munimos o empreendedor brasileiro de informação e recursos financeiros para lançar o seu negócio, acelerar seu crescimento e/ou se recuperar de uma crise.">
<meta property="og:title" content="Banfox - Adiantando o seu crescimento">
<%= csrf_meta_tags %>
<%= action_cable_meta_tag %>
<%= stylesheet_link_tag 'application', media: 'all' %>
<script src="https://kit.fontawesome.com/9b33152009.js" crossorigin="anonymous"></script>
<%= favicon_link_tag 'favicon.ico?refresh=1' %>
