<span class="preheader">Bem vindo à Banfox. Abaixo você encontrará algumas informações úteis a respeito da sua conta.</span>
<table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center">
      <table class="email-content" width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td class="email-masthead">
            <a href="https://www.banfox.com.br" class="email-masthead_name">
              <img alt="Icon" src=https://res.cloudinary.com/mbentivoglio/image/upload/v1551191201/mvpinvest/logo-banfox.png width="225" height="55"  />
            </a>
          </td>
        </tr>
        <!-- Email Body -->
        <tr>
          <td class="email-body" width="100%" cellpadding="0" cellspacing="0">
            <table class="email-body_inner" align="center" width="570" cellpadding="0" cellspacing="0">
              <!-- Body content -->
              <tr>
                <td class="content-cell">
                  <h1>Solicitação de Assinatura de Documento da Operação</h1>
                  <h3>Prezado <%= @name.mb_chars.titleize %>, </h3>
                  <p>Por favor utilize o botão abaixo para vizualizar e assinar o documento da operação.</p>
                  <p>Você assinará como <strong>devedor solidário</strong></p>
                  <!-- Action -->
                  <table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td align="center">
                        <!-- Border based button
                   https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design -->
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td>
                                    <% if Rails.env.to_sym == :development  %>
                                      <%= link_to "Vizualizar para assinar", "http://localhost:3000/signature/#{@signature_key}", target: "_blank", class: "button button--blue" %>
                                    <% else %>
                                      <%= link_to "Vizualizar para assinar", "https://www.banfox.com.br/signature/#{@signature_key}", target: "_blank", class: "button button--blue" %>
                                    <% end %>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <p>Em caso de dúvidas é só responder este e-mail. </p>
                  <p>Obrigado,
                    <br>Time <strong>Banfox</strong></p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table class="email-footer" align="center" width="570" cellpadding="0" cellspacing="0">
              <tr>
                <td class="content-cell" align="center">
                  <p class="sub align-center">&copy; 2019 Banfox. Todos os direitos reservados.</p>
                  <p class="sub align-center">
                    Banfox
                    Avenida Angélica, 2529 - InovaBra Habitat
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
