<div class="table-wo-bundle header">
  <div class="table-wo-bundle-row-content">
    <div class="content-col content-col-4 text-left">
      <span data-toggle="tooltip" title="" data-original-title="Número/parcela do título" class="have-info">
        # <i class="fa fa-info-circle"></i>
      </span>
    </div>
    <div class="content-col content-col-20 text-left"><span>Cliente</span></div>
    <div class="content-col content-col-10 text-left"><span>Vencimento</span></div>
    <div class="content-col content-col-4  text-center"><span>Dias</span></div>
    <div class="content-col content-col-11 text-right"><span>Valor da Nota</span></div>
    <div class="content-col content-col-11 text-right"><span>Comissão Banfox</span></div>
    <div class="content-col content-col-11 text-right"><span>Valor de Depósito</span></div>
    <% if "#{current_controller_name}.#{current_action_name}" == "installments.store" && @status == :no_on_going_operation %>
      <div class="content-col content-col-4  text-center"><span> </span></div>
      <div class="content-col content-col-3  text-center"><span> </span></div>
    <% else %>
      <div class="content-col content-col-7 text-left extra-space-left"><span>Status</span></div>
    <% end %>
  </div>
</div>

