<div class="card-white-w-multiple-content card-h-medium">
  <div class="card-w-icon-info-title-container">
    <div class="big-icon">
      <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
    </div>
    <div class="card-content">
      <div class="primary-content"><%= humanized_money_with_symbol primary_content %></div>
      <div class="secondary-content"><%= title %></div>
    </div>
  </div>
</div>
