<%= link_to button_path, target: :_blank do %>
  <div class="card-white-w-multiple-content card-white-w-multiple-content-clickable">
    <div class="card-w-info-icon-clickable">
      <div class="card-title">
        <span><%= title %></span>
        <div class="card-icon-blue">
          <i class="fa fa-info-circle"></i>
        </div>
      </div>
    </div>
  </div>
<% end %>
