<div class="card-white-w-multiple-content">
  <div class="card-title">
    <span><%= title %></span>
    <div class="card-icon-gray">
      <i class="fa fa-info-circle"></i>
    </div>
  </div>
  <div class="card-content">
    <div class="primary-content"><%= primary_content %></div>
    <div class="secondary-content"><%= secondary_content %></div>
    <div class="aux-content"><%= aux_content %></div>
  </div>
</div>

