<%= link_to button_path do %>
  <div class="card-white-w-multiple-content card-white-w-multiple-content-clickable">
    <div class="card-title">
      <span><%= title %></span>
      <% if checked %>
        <div class="card-checked-icon-gray">
          <i class="fa fa-check-circle"></i>
        </div>
      <% else %>
        <div class="card-tag">
          <span><%= tag %></span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
