<div class="table-wo-bundle">
  <%= render partial: "shared/tables/table_wo_bundle_for_history_installments/row", collection: items, as: :item %>
</div>
<div id="infinite-scrolling">
  <%= will_paginate items %>
</div>

