<% tag_color = "table-wo-bundle-row-content-color-go" if [Installment::INSTALLMENT_STATUS[4]].include? status %>
<% tag_color = "table-wo-bundle-row-content-color-attention" if [Installment::INSTALLMENT_STATUS[5]].include? status %>
<% tag_color = "table-wo-bundle-row-content-color-danger" if [Installment::INSTALLMENT_STATUS[6]].include? status %>
<% tag_color = "table-wo-bundle-row-content-color-good" if [Installment::INSTALLMENT_STATUS[7], Installment::INSTALLMENT_STATUS[8]].include? status%>
<% tag_color = "table-wo-bundle-row-content-color-lost" if [Installment::INSTALLMENT_STATUS[9]].include? status%>
<div class="<%= "#{tag_color} table-wo-bundle-row-content-status-tag"%>">
  <span><%= status %></span>
</div>
