<div class="col-12">
  <%= link_to "/" do %>
    <div class="devise-logo">
      <%= image_tag "Logo_banfox_color.png" %>
    </div>
  <% end %>
  <center>
    <h1 class="devise-header">
      Recebemos suas informações de maneira <a class="devise-header-strong">Segura!</a>
    </h1>
  </center>
</div>
<div class="col-12 col-md-12">
  <div class="login-form">
    <center>
      <h4 class="main-box-title" >
        <a class="devise-header-blue">Parabéns!</a> Estamos prestes a ter uma melhor gestão financeira.
      </h4>
      <p class="how_a1_works_card_head margin-top-40">
        Nossa equipe está analisando as informações enviadas e o nosso software está trabalhando para customizar a melhor 
      experiência para você em nossa plataforma. O que acontece agora?
      </p>
      <div class="how_a1_works_card_body">
        <p class="vmargin-20">Estamos estruturando e organizando as suas informações financeiras.</p>
        <p class="vmargin-20">Criaremos uma visão simplificada do seu negócio para facilitar o seu dia a dia.</p>
        <p class="vmargin-20">Acompanharemos a sua evolução e daremos dicas personalizadas de gestão financeira.</p>
        <p class="vmargin-20">
          O processo pode levar algumas horas, portanto, fique traquilo que em breve suas informações estarão 
        disponíveis na plataforma.
        </p>
      </div>
    </center>
    <%= link_to "Entrar", sellers_dashboard_url, class: "digital-certificate-buttons" %>
  </div>
</div>
