<div class="col-12">
  <%= link_to root_path do %>
    <div class="devise-logo">
      <%= image_tag "Logo_banfox_color.png" %>
    </div>
  <% end %>
  <center>
    <h1 class="devise-header">
      Foque no que <a class="devise-header-strong">importa</a>, nós cuidamos de todo o resto.
    </h1>
  </center>
</div>
<div class="col-12 col-md-12">
  <div class="login-form">
    <h4 class="main-box-title" >Venda mais trabalhando de forma inteligente.</h4>
    <div class="blue-stripe"></div>
    <p class="how_a1_works_card_head">
      Não importa se você é um expert em finanças ou se está começando agora, a Banfox tem o produto ideal.
      Enquanto nós organizamos a sua vida financeira, você aproveita melhor o seu tempo.
    </p>
    <div class="how_a1_works_card_body">
      <p>
        Organização de suas Notas Fiscais de maneira simples. Você tem acesso a todas as notas fiscais que
        foram emitidas contra o CNPJ da sua empresa nos últimos 90 dias.
      </p>
      <p>
        Receba dicas personalizadas de como cuidar do caixa da sua empresa. Use nossas dicas para manter
        os salários dos funcionários em dia, comprar matéria prima à vista com desconto ou planejar
        investimentos em equipamentos.
      </p>
      <p>
        Para conseguirmos te ajudar com o melhor planejamento e as melhores dicas de gestão, precisamos
        ter acesso ao Certificado Digital A1 da sua empresa. Fique tranquilo, esse é o mesmo acesso que o seu
        contador possui, e, nós protegemos as suas informações como se fossem nossas.
      </p>
      <p>
        Eai, pronto para ter mais tempo livre e poder focar no que realmente importa?
      </p>
      <%= link_to "Continuar", digital_certificate_upload_path, class: "btn-sessions" %>
    </div>
  </div>
</div>
