.input-file {
  // width: inherit;
  border: 1px dashed $gray;
  border-radius: 6px;
  background-color: $near-white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em 1em;

  p {
    color: $dark-blue;
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0px;
  }

  ul {
    margin-bottom: 0px;
  }
  .input-file-status {
    font-size: 0.8em;
    font-weight: lighter;
    list-style-type: none
  }
}
.input-file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.btn-file-upload {
  color: $near-white;
  float: right;
  margin: 0.2rem auto 1px;
  padding: 0.2em 0.8em;
  border-radius: 0.25em;
  font-size: 15px;
  background: $orange;
  transition: background 0.6s ease;
  &:hover {
    opacity: 0.9;
    background: $red;
    text-decoration: none;
    color: white;
  }
}
