.input-file {
  // width: inherit;
  border: 1px dashed $gray;
  border-radius: 6px;
  background-color: $near-white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em 1em;

  p {
    color: $dark-blue;
    opacity: 0.8;
    font-size: 0.9em;
    font-weight: normal;
    margin-bottom: 0px;
  }

  ul {
    margin-bottom: 0px;
  }
  .input-file-status {
    font-size: 0.8em;
    font-weight: lighter;
    list-style-type: none
  }
}
.input-file-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
