#footer {
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  color: $near-white;
}
#footer:before {
  animation: no-transform 2s .5s cubic-bezier(0,.5,0,1) forwards;
  background-image: linear-gradient(-225deg, rgba(0,101,168,0) 0%, rgba(0,36,61,0) 50%), url('https://res.cloudinary.com/mbentivoglio/image/upload/v1530713798/mvpinvest/imgfooter_1440px.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transform: translateY(10rem);
  content: "";
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}
.f-link {
  color: $near-white;
  border: 1px solid $near-white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  padding: 15px 19px;
  margin: 0 20px;
  &:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}
.column {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links-footer {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.column1 {
  span img {
    height: 100px;
  }
}
.footer-content {
  padding: 0 20px;
  margin: 0 20px;
  align-items: flex-start;
  p {
    font-size: 0.8em;
    opacity: 0.85;
  }
  a {
    font-size: 0.8em;
    color: $near-white;
    opacity: 0.85;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}
.copyright {
  padding: 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  p {
    opacity: 0.85;
    font-size: 0.8em;
  }
}
