.footer {
  z-index: -99;
}
.footer-copyright {
  p {
    margin-top: 50px;
    font-size: 12px;
    font-style: italic;
    color: $near-black;
    text-align: center;
  }
}
.footer-quote {
  p {
    font-size: 22px;
    font-style: italic;
    text-align: center;
  }
  span {
    color: $orange;
  }
}
.footer-graph {
  width: 100%;
  margin-top: 0px;
  img {
    max-width: 100%;
    opacity: 0.4;
    height: auto;
  }
}
