#footer {
  background-image: linear-gradient(to bottom, rgba(22,45,90,0.95) 10%, rgba(22,45,90,1) 100%);
  position: relative;
  transform-style: preserve-3d;
  perspective: 100px;
  color: $near-white;
}
.f-link {
  color: $near-white;
  border: 1px solid $near-white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 24px;
  padding: 15px 19px;
  margin: 0 20px;
  &:hover {
    color: $orange;
    border: 1px solid $orange;
  }
}
.column {
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.links-footer {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.column1 {
  span img {
    height: 100px;
  }
}
.footer-content {
  padding: 0 20px;
  margin: 0 20px;
  align-items: flex-start;
  p {
    font-size: 0.8em;
    opacity: 0.85;
  }
  a {
    font-size: 0.8em;
    color: $near-white;
    opacity: 0.85;
    text-decoration: none;
    &:hover {
      opacity: 1;
    }
  }
}
.copyright {
  padding: 10% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  p {
    opacity: 0.85;
    font-size: 0.8em;
  }
}
