.login-form {
  background: $near-white;
  color: $dark-blue;
  padding: 60px 60px;
  // margin: 50px 0;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 1px 3px 0 rgba(89,105,128,.1), 0 1px 2px 0 rgba(0,0,0,.05);
  box-shadow: 0 0 0 1px rgba(89,105,128,.1), 0 1px 3px 0 rgba(89,105,128,.1), 0 1px 2px 0 rgba(0,0,0,.05);
  h2 {
    color: $dark-blue;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  a {
    color: $dark-blue;
    &:hover {
      transition: all 0.6s ease;
      color: $blue;
    }
  }
}
.btn-sessions {
  width: 100%;
  margin: 15px auto;
  color: white;
  padding: 10px 15px;
  border-radius: 10em;
  font-weight: bold;
  background: $blue;
  transition: all 0.6s ease;
  &:hover {
    transition: all 0.6s ease;
    border: 1px solid $blue;
    text-decoration: none;
    color: $blue;
    background-color: $white;
  }
}

.devise-logo {
  text-align: center;
  img {
    height: 11em;
    width: auto;
  }
}
