#mvp-progressbar-fill-wrapper {
  background-color: $light-gray;
  border-radius: 13px;

  #mvp-progressbar-fill {
    background: linear-gradient(to right, $dark-green-progressbar 50%, $light-green-progressbar 100%);
    height: 10px;
    border-radius: 13px;
  }
}
.mvp-progressbar-content {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8em;

  .mvp-progressbar-content-left {
    color: $dark-green-progressbar;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
  }

  .mvp-progressbar-content-right {
    color: $light-gray;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
  }
}


