/* Parent for fixed navbar */
.newnavbar-parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 99;
}

#new-homenavbar-mvp {
  background-color: rgba(0,0,0,0);
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  h2 {
    font-weight: bold;
    color: $orange;
  }
  /* Basic navbar item */
  .new-mvp-item {
    cursor: pointer;
    padding: 0 20px;
  }
  /* Navbar link */
  .new-mvp-link {
    color: $near-white;
    font-size: 18px;
    &:hover {
      color: $near-black;
      text-decoration: none;
    }
  }
}
.white-navbar {
  transition: 0.7s;
  background-color: $near-white !important;
  opacity: 1;
  box-shadow: 0 0 0 1px rgba(89,105,128,.05), 0 3px 20px 0 rgba(89,105,128,.15), 0 1px 2px 0 rgba(0,0,0,.025);
  transition: box-shadow .5s,opacity .3s,-webkit-box-shadow .5s;
  transform: translate3d(0px, 0px, 0px);
  .new-mvp-link {
    color: $near-black !important;
    &:hover {
      color: $orange !important;
    }
  }
}

.logo-navbar {
  transition: 0.7s;
  height: 50px;
  width: 200px;
  background-color: rgba(0,0,0,0);
  background-image: url('https://res.cloudinary.com/mbentivoglio/image/upload/v1530022164/mvpinvest/logolinha1.png');
  background-size: cover;
}
.logo-navbar-dark {
  transition: 0.7s;
  height: 50px;
  width: 200px;
  background-image: url('https://res.cloudinary.com/mbentivoglio/image/upload/v1527270384/mvpinvest/logo.png');
  background-size: cover;
}
