/* Parent for fixed navbar */
.dash-parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 99;
}
#dashmenu-mvp {
  background-color: $white;
  border-bottom: 2px solid #eff2fb;
  box-shadow: 0 1px 10px 0 #e5ebf3;
  height: 70px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.7s;
  // Basic navbar item
  .dash-mvp-item {
    cursor: pointer;
    padding: 0 2px;
    margin: 0 18px;
  }
  .dash-mvp-link {
    color: $lightest-gray;
    &:hover {
      color: $orange;
    }
  }
  p {
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
  .profile-name {
    color: $dark-gray;
    font-size: 1.2em;
  }
}
/* Right section */
.dash-mvp-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-dash {
  transition: 0.7s;
  height: 50px;
  width: 200px;
  background-color: rgba(0,0,0,0);
  background-image: url('https://res.cloudinary.com/mbentivoglio/image/upload/v1535379176/mvpinvest/logo-mvpinvest.png');
  background-size: cover;
}
