.page-header {
  color: $near-black;
  font-weight: normal;
  border: none;
  margin: 90px 0 10px 0;

  .page-header-title {
    font-size: 1.7em;
    color: $dark-blue;

    span {
      color: $orange;
    }
  }

  .page-header-subtitle {
    color: $dark-blue;
    font-style: italic;
    font-size: 0.9em;
    opacity: 0.8;
  }
}

.page-messages {
  color: $near-black;
  font-weight: normal;
  border: none;
  h2 {
    color: $dark-blue;
  }
  p {
    color: $dark-blue;
    font-style: italic;
    font-size: 22px;
    opacity: 0.8;
  }
}
