#status_bottom_bar {
    background-color: $white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;

    .operation-finantials {
      flex: 1 1 50%;
      display: flex;
      justify-content: space-between;
    }

    .operation-status {
      flex: 1 1 50%;
    }
}
