.popover-content {
  font-size: 1.3rem;
}

.popover-title {
  font-size: 1.3rem;
}

#status_bottom_bar {
    background-color: $white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 -1px 3px $lightest-gray;

    .content {
      padding: 2em 1em;
      display: flex;
      justify-content: space-between;
      font-size: 0.8em;
      //font-size: 0.7em;
    }

    .operation-finantials {
      flex: 1 1 60%;
      display: flex;
      justify-content: space-between;

      .content-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 1em;
        padding-bottom: 1em;
      }

      .blue {
        color: $blue;
      }

      .result {
        padding-right: 3em;
        padding-left: 3em;
        padding-top: 0em;
        padding-bottom: 0em;
        border-left: solid 2px $lightest-gray;

        .line {
          padding: 0.1em 0;
        }

        .line-w-2-cols {
          display: flex;
          justify-content: space-between;
          align-items: baseline;

          .line-text {
            margin-right: 2em;
          }
        }

        .last-line {
          padding-top: 0.2;
          font-weight: bold;
        }
      }

      .big-number {
        font-size: 1.3em;
      }
    }

    .operation-status {
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .top-content.with-checkbox {
        display: flex;
        input[type='checkbox'] {
          margin-right: 0.5em;
        }
      }

      .top-content.big-letters {
        font-size: 1.6em;
        color: $blue;
        font-weight: bold;
        text-align: right;
      }

      .bottom-content {
        display: flex;
        justify-content: space-between;
        .button {
          font-size: 1.1em;
        }
      }

    }
}
