// Graphical variables 
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap"; 
@import "bootstrap-sprockets";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";
@import "elements/index";

.title-separator {
  border-top: 5px solid #5433ff;
  width: 65px;
  margin-bottom: 50px;
}

.call-to-action {
  position: relative;
  z-index: 10;
  margin-bottom: -130px;
  .container {
    background-color: #5433ff;
    border-radius: 80px 0px;
    h1 {
      color: #fff
    }
    .cta-button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .text-border {
      border-top: 5px solid #fff;
      width: 30px;
      margin: 20px 0px 20px 0px;
    }
  }
}
