.cool-navbar {
  background-color: #5433ff;
}

html:not([data-scroll='0']) {
  .cool-navbar {
    height: 50px;
    background-color: #fff;
  }

  .white-logo{
    display: none;
  }

  .colored-logo{
    display: block !important;
  }
}

.cool-navbar {
  transition: background-color .50s;
}
