<div class="navbar-home">
  <!-- Logo -->
  <a href="/" class="navbar-home-mvp-brand">
    <%= image_tag "logo-mvpinvest" %>
  </a>

  <!-- Right Navigation -->
  <div class="navbar-home-right hidden-xs">
    <div class="navbar-home-phone-number">
      <span><i class="fa fa-phone" aria-hidden="true"></i></span>
      <p>(011) 9.3800.8131</p>
    </div>
    <% if user_signed_in? %>
      <%= link_to "Minha área",  sellers_dashboard_path, class: "navbar-home-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "navbar-home-link" %>
      <%= link_to "Abra sua conta", new_user_registration_path, class: "navbar-home-button" %>
    <% end %>
  </div>
</div>
