<!-- Navbar -->
<nav class="new-navbar-white navbar navbar-expand-lg fixed-top new-lp-font cool-navbar">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag("logo-banfox-white.png", alt: "Banfox Logo")%>
    </a>
    <div class="collapse navbar-collapse nav-list-links" id="navbarNav">
      <ul class="navbar-nav" style="display: none;">
        <li class="nav-item">
          <a class="nav-link" href="#">COMO FUNCIONA <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">QUEM SOMOS</a>
        </li>
      </ul>
    </div>

    <form class="form-inline">
      <% if user_signed_in? %>
        <%= link_to "MINHA ÃREA",  sellers_dashboard_path, class: "btn btn-sm btn-outline-light" %>
      <% else %>
        <%= link_to "CADASTRE-SE", new_user_registration_path, class: "btn btn-sm btn-outline-light" %>
      <% end %>
    </form>
  </div>
</nav>

