<div class="navbar-parent">
  <div class="navbar-sections-container">
    <div class="section-left">
      <!-- Logo -->
      <%= link_to "/" do %>
        <div class="logo-mvp-pic-name"></div>
      <% end %>
    </div>
  </div> <!-- navbar-sections-container -->
</div>

