<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "shared/layouts/standard_html_head" %>
  </head>
  <body style="background-color: #eef1f6 !important;">
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
